.flex{
    display: flex;
    flex-direction: row;
    }
  
  .flex-1{
    justify-content: space-evenly;
  }
  
  .flex-2{
    justify-content: space-between;
  }
  .flex-item{
    height: 200px;
    margin: 10px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    color: black;
    flex: 1;
  }
  
  .blue{
    background-color: lightblue;
  }
  
  .red{
    background-color: lightcoral;
  }
  
  .bigger-2x{
    flex-grow: 2;
  }
  
  .purple{
    background-color: plum;
  }
  
  .bigger-2x{
    flex-grow: 2;
  }
  
  .green{
    background-color: lightgreen;  
    flex: .33;
  }
  
  .flex-3{
    justify-content: space-around;
  }
  
  .tan{
    background-color: tan;
    flex: .33;
  }
  
  .slategray{
    background-color: slategray;
    flex: .25; 
  }
  
  .flex-4{
    justify-content: space-around;
  }
  
  .seagreen{
    background-color: teal;
    flex: .15;
  }
  
  .flex-5{
    justify-content: flex-end;
  }
  
  .yellow{
    background-color: yellow;
  }
  
  .flex-6{
    justify-content: flex-start;
  }
  
  .flex-7{
    justify-content: flex-end;
  }
  
  .yellowblank{
    background-color: white;
  }
  